=turbo_frame_tag "password" do
  %div{"data-clipboard-success-content-value" => "Copied!", "data-controller" => "clipboard"}
    = text_field_tag :source, generate_password(10, true, true,true, true,true,true, true ), "data-clipboard-target" => "source"
    = button_tag "Copy to clipboard", "data-action" => "clipboard#copy", "data-clipboard-target" => "button", type: "button"


