= turbo_frame_tag :json_validators do
  = simple_form_for :json_validators, url: json_validators_path, data: { controller: "buttonless-form", remote: "true" }, method: "post", html: {class: 'm-4'} do |f|
    .grid{ data: { controller: "split-grid" }}
      = f.input_field :json_input, :as => :text, value: @data,  class: 'form-control grid-item'
      .gutter-col{"data-gutter-col" => ""}
      .grid-item=render "code_block"