= turbo_frame_tag :json_validators do
  = simple_form_for :json_validators, url: json_validators_path, data: { controller: "buttonless-form", remote: "true" }, method: "post" do |f|
    .grid.p-4{ data: { controller: "split-grid" }}
      .px-2= f.input_field :json_input, :as => :text, value: @data,  class: 'form-control grid-item'
      .gutter-col{"data-gutter-col" => ""}
      .grid-item.px-2=render "code_block"