.json-text-area {
  min-height: calc(100vh - 65px);
  max-height: calc(100vh - 65px);
  overflow-y: scroll;
  width: 100%;
  border-radius: 5px;
}


code {
  white-space: pre;
  font-family: Consolas, monospace;

  .string {
    color: maroon;
  }

  .number {
    color: black;
  }

  .boolean,
  .null {
    color: blue;
  }

  .key {
    color: teal;
  }
}
