.d-flex.flex-column.flex-shrink-0.p-3.bg-body-tertiary{style: "width: 280px;"}
  %a.d-flex.align-items-center.link-body-emphasis.text-decoration-none{href: "/"}
    %i.bi.bi-code.pe-none.me-2{style: "font-size: 2rem"}
    %span.fs-4 DevTools
  %hr/
  %ul.nav.nav-pills.flex-column.mb-auto
    %li.nav-item
      %a.nav-link.active{"aria-current" => "page", href: "#"}
        %i.bi.bi-house.pe-none.me-2
        Home
    %li
      %a.nav-link.link-body-emphasis{href: "#"}
        %i.bi.bi-speedometer.pe-none.me-2
        Dashboard
    %li
      %a.nav-link.link-body-emphasis{href: "#"}
        %i.bi.bi-table.pe-none.me-2
        Orders
    %li
      %a.nav-link.link-body-emphasis{href: "#"}
        %i.bi.bi-grid.pe-none.me-2
        Products
    %li
      %a.nav-link.link-body-emphasis{href: "#"}
        %i.bi.bi-people.pe-none.me-2
        Customers
  %hr/
  .dropdown
    %a.d-flex.align-items-center.link-body-emphasis.text-decoration-none.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", href: "#"}
      %img.rounded-circle.me-2{alt: "", height: "32", src: "https://github.com/mdo.png", width: "32"}/
      %strong mdo
    %ul.dropdown-menu.text-small.shadow
      %li
        %a.dropdown-item{href: "#"} New project...
      %li
        %a.dropdown-item{href: "#"} Settings
      %li
        %a.dropdown-item{href: "#"} Profile
      %li
        %hr.dropdown-divider/
      %li
        %a.dropdown-item{href: "#"} Sign out